<a href="https://colab.research.google.com/github/yuliiabosher/Python-with-Data-course/blob/main/Interrogating_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.iloc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

In [2]:
import pandas as pd
f = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', sheet_name = "Industry Migration")
f.head(10)

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,365.96,283.59,281.91
6,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,9,Law Practice,694.50,529.50,362.83,356.56,147.83
7,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,10,Legal Services,661.10,665.65,462.30,475.62,255.21
8,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,11,Management Consulting,982.85,694.25,520.28,574.60,406.03
9,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,12,Biotechnology,1230.17,846.28,500.77,205.78,513.23

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [3]:
f[["country_name", "industry_name"]].iloc[:50]

            country_name              industry_name
0   United Arab Emirates            Defense & Space
1   United Arab Emirates          Computer Hardware
2   United Arab Emirates          Computer Software
3   United Arab Emirates        Computer Networking
4   United Arab Emirates                   Internet
5   United Arab Emirates         Telecommunications
6   United Arab Emirates               Law Practice
7   United Arab Emirates             Legal Services
8   United Arab Emirates      Management Consulting
9   United Arab Emirates              Biotechnology
10  United Arab Emirates           Medical Practice
11  United Arab Emirates     Hospital & Health Care
12  United Arab Emirates            Pharmaceuticals
13  United Arab Emirates             Medical Device
14  United Arab Emirates                  Cosmetics
15  United Arab Emirates          Apparel & Fashion
16  United Arab Emirates             Sporting Goods
17  United Arab Emirates                    Tobacco
18  United Arab Emirates               Supermarkets
19  United Arab Emirates            Food Production
20  United Arab Emirates       Consumer Electronics
21  United Arab Emirates             Consumer Goods
22  United Arab Emirates                  Furniture
23  United Arab Emirates                     Retail
24  United Arab Emirates              Entertainment
25  United Arab Emirates  Leisure, Travel & Tourism
26  United Arab Emirates                Hospitality
27  United Arab Emirates                Restaurants
28  United Arab Emirates                     Sports
29  United Arab Emirates           Food & Beverages
30  United Arab Emirates     Motion Pictures & Film
31  United Arab Emirates            Broadcast Media
32  United Arab Emirates                    Banking
33  United Arab Emirates                  Insurance
34  United Arab Emirates         Financial Services
35  United Arab Emirates                Real Estate
36  United Arab Emirates         Investment Banking
37  United Arab Emirates      Investment Management
38  United Arab Emirates                 Accounting
39  United Arab Emirates               Construction
40  United Arab Emirates         Building Materials
41  United Arab Emirates    Architecture & Planning
42  United Arab Emirates          Civil Engineering
43  United Arab Emirates       Aviation & Aerospace
44  United Arab Emirates                 Automotive
45  United Arab Emirates                  Chemicals
46  United Arab Emirates                  Machinery
47  United Arab Emirates            Mining & Metals
48  United Arab Emirates               Oil & Energy
49  United Arab Emirates               Shipbuilding

### Exercise 3 - yearly migration

*   display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.
---

In [4]:
d = f.shape[0]
middle = int(d/2)
start = middle - 10
end = middle + 10
f[["country_name", "net_per_10K_2015", "net_per_10K_2016", "net_per_10K_2017", "net_per_10K_2018", "net_per_10K_2019"]].iloc[start:end]

,country_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
2637,India,-7.57,-15.53,-41.39,-58.19,-75.65
2638,India,-46.07,-84.82,-69.27,-112.88,-102.83
2639,India,-17.75,-9.88,-13.85,-17.02,-36.78
2640,India,-46.50,-53.41,-38.84,-69.76,-73.81
2641,India,15.19,5.91,-67.67,-42.27,-45.82
2642,India,-36.77,-72.50,-224.30,-108.44,-57.46
2643,India,-57.53,-50.04,-58.67,-98.15,-87.12
2644,India,4.31,-29.11,-68.60,-60.27,-71.01
2645,India,-60.63,-102.39,-130.02,-97.02,-151.55
2646,India,-26.63,5.22,-29.57,-23.96,-58.40
2647,India,-31.78,-45.04,-86.56,-66.87,-95.41
2648,India,24.01,27.84,-9.85,-29.43,-63.83
2649,India,-17.74,-27.67,-19.57,-63.91,-50.87
2650,India,-26.23,-21.12,-26.23,-40.06,-55.07
2651,India,-75.42,-71.15,-57.01,-95.02,-106.56
2652,India,-40.41,-2.47,-40.18,-70.58,-142.21
2653,Iraq,290.14,396.01,175.95,396.23,318.73
2654,Iraq,23.68,-148.03,-157.05,-87.85,-38.84
2655,Iraq,-138.81,-662.75,-273.35,-109.23,0.00
2656,Iraq,-718.56,-623.25,-446.93,-456.94,95.72

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

In [5]:
df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true", sheet_name = "Country Migration")
df[["target_country_name", "base_country_name", ]].head(10)

  target_country_name     base_country_name
0         Afghanistan  United Arab Emirates
1             Algeria  United Arab Emirates
2              Angola  United Arab Emirates
3           Argentina  United Arab Emirates
4             Armenia  United Arab Emirates
5           Australia  United Arab Emirates
6             Austria  United Arab Emirates
7          Azerbaijan  United Arab Emirates
8             Bahrain  United Arab Emirates
9          Bangladesh  United Arab Emirates

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

In [6]:
for i in df["base_country_name"].unique():
  print(i)

United Arab Emirates
Afghanistan
Albania
Armenia
Angola
Argentina
Austria
Australia
Azerbaijan
Bosnia and Herzegovina
Bangladesh
Belgium
Burkina Faso
Bulgaria
Bahrain
Benin
Bolivia
Brazil
Bahamas, The
Botswana
Belarus
Canada
Congo, Dem. Rep.
Switzerland
Cote d'Ivoire
Chile
Cameroon
China
Colombia
Costa Rica
Cuba
Cyprus
Czech Republic
Germany
Denmark
Dominican Republic
Algeria
Ecuador
Estonia
Egypt, Arab Rep.
Spain
Ethiopia
Finland
Fiji
France
Gabon
United Kingdom
Georgia
Ghana
Greece
Guatemala
Hong Kong SAR, China
Honduras
Croatia
Haiti
Hungary
Indonesia
Ireland
Israel
India
Iraq
Iran, Islamic Rep.
Iceland
Italy
Jamaica
Jordan
Japan
Kenya
Cambodia
Korea, Rep.
Kuwait
Kazakhstan
Lebanon
Sri Lanka
Lithuania
Luxembourg
Latvia
Libya
Morocco
Moldova
Madagascar
Macedonia, FYR
Mali
Myanmar
Mongolia
Malta
Mauritius
Malawi
Mexico
Malaysia
Mozambique
Namibia
Nigeria
Nicaragua
Netherlands
Norway
Nepal
New Zealand
Oman
Panama
Peru
Papua New Guinea
Philippines
Pakistan
Poland
Puerto Rico
West Bank and Gaza
Portugal
Paraguay
Qatar
Romania
Serbia
Rwanda
Saudi Arabia
Sudan
Sweden
Singapore
Slovenia
Slovak Republic
Senegal
El Salvador
Syrian Arab Republic
Togo
Thailand
Tunisia
Turkey
Trinidad and Tobago
Taiwan, China
Tanzania
Ukraine
Uganda
United States
Uruguay
Uzbekistan
Venezuela, RB
Vietnam
Yemen, Rep.
South Africa
Zambia
Zimbabwe

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

In [11]:
target = df["target_country_name"].unique()
for i in target:
  print(i)
len(target)

Afghanistan
Algeria
Angola
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahrain
Bangladesh
Belarus
Belgium
Brazil
Bulgaria
Cameroon
Canada
Chile
China
Colombia
Croatia
Cyprus
Czech Republic
Denmark
Egypt, Arab Rep.
Ethiopia
Finland
France
Georgia
Germany
Ghana
Greece
Hong Kong SAR, China
Hungary
India
Indonesia
Iran, Islamic Rep.
Iraq
Ireland
Italy
Japan
Jordan
Kazakhstan
Kenya
Korea, Rep.
Kuwait
Lebanon
Libya
Luxembourg
Macedonia, FYR
Malaysia
Malta
Mauritius
Mexico
Morocco
Myanmar
Nepal
Netherlands
New Zealand
Nigeria
Norway
Oman
Pakistan
Philippines
Poland
Portugal
Qatar
Romania
Saudi Arabia
Serbia
Singapore
Slovak Republic
South Africa
Spain
Sri Lanka
Sudan
Sweden
Switzerland
Syrian Arab Republic
Taiwan, China
Tanzania
Thailand
Tunisia
Turkey
Uganda
Ukraine
United Kingdom
United States
Uzbekistan
Venezuela, RB
Vietnam
West Bank and Gaza
Yemen, Rep.
Zimbabwe
United Arab Emirates
Namibia
Bolivia
Costa Rica
Dominican Republic
Ecuador
Israel
Panama
Paraguay
Peru
Uruguay
Bosnia and Herzegovina
Slovenia
Cambodia
Estonia
Fiji
Lithuania
Mongolia
Papua New Guinea
Zambia
Albania
Benin
Congo, Dem. Rep.
Cote d'Ivoire
Latvia
Senegal
Mozambique
Bahamas, The
Burkina Faso
Cuba
El Salvador
Guatemala
Haiti
Honduras
Iceland
Jamaica
Madagascar
Moldova
Nicaragua
Rwanda
Trinidad and Tobago
Mali
Togo
Gabon
Puerto Rico
Botswana
Malawi

140

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 skill group names and net migration in 2019

In [24]:
d = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true", sheet_name = "Skill Migration")
d.iloc[0]
d.tail(10)
d.iloc[500:601]
len(d["country_name"].unique())
list(d["skill_group_category"].unique())
d[["skill_group_name", "net_per_10K_2019"]].head(50)

                          skill_group_name  net_per_10K_2019
0                   Information Management          -1208.79
1                   Operational Efficiency           -790.09
2                        National Security           -767.64
3                         Software Testing           -739.51
4                                     Navy           -718.64
5                        Materials Science           -717.73
6                             Criminal Law           -698.84
7                          Problem Solving           -696.16
8   Software Development Life Cycle (SDLC)           -692.24
9                            Cybersecurity           -640.96
10                     Enterprise Software           -625.19
11                       Water Engineering           -560.86
12                               Air Force           -553.91
13                           Documentation           -534.90
14                           Public Safety           -531.68
15                       People Management           -489.62
16                               Economics           -481.75
17               Administrative Assistance           -481.00
18                      Telecommunications           -470.25
19                   Management Consulting           -465.04
20                   Aerospace Engineering           -459.57
21                Environmental Consulting           -456.65
22                                Politics           -455.72
23                    Human Resources (HR)           -454.04
24                                     Law           -444.72
25                       Personal Coaching           -442.94
26                           Public Policy           -432.87
27                                 Writing           -429.40
28                        Payroll Services           -417.59
29                        Accounts Payable           -415.60
30                             Translation           -409.63
31                Corporate Communications           -407.53
32                             Bookkeeping           -406.50
33                       Technical Support           -405.87
34               Data Storage Technologies           -402.25
35                     Computer Networking           -401.17
36                         Social Services           -400.00
37                             Procurement           -381.75
38                Construction Engineering           -380.71
39                             Electronics           -379.37
40                        Entrepreneurship           -375.82
41                   System Administration           -375.25
42                Manufacturing Operations           -369.78
43                   Environmental Science           -369.71
44                       Growth Strategies           -364.60
45                    Nonprofit Management           -356.44
46         Employee Learning & Development           -353.67
47                               Machining           -347.71
48                              Recruiting           -339.42
49                      Emergency Medicine           -332.85

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

In [37]:
float(df[["net_per_10K_2019"]].iloc[9]) + float(df[["net_per_10K_2018"]].iloc[9]) + float(df[["net_per_10K_2017"]].iloc[9]) + float(df[["net_per_10K_2016"]].iloc[9]) + float(df[["net_per_10K_2015"]].iloc[9])

-0.8999999999999999

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

In [54]:
total_net_migration = float(f[["net_per_10K_2015"]].iloc[99]) + float(f[["net_per_10K_2016"]].iloc[99]) + float(f[["net_per_10K_2017"]].iloc[99]) + float(f[["net_per_10K_2018"]].iloc[99]) + float(f[["net_per_10K_2019"]].iloc[99])
print(f'The total net migration into {f["country_name"].iloc[99]} of skilled workers for the {f["industry_name"].iloc[99]} industry, during the years 2015-2019 was {total_net_migration}')

The total net migration into United Arab Emirates of skilled workers for the Commercial Real Estate industry, during the years 2015-2019 was 1867.48

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*

In [59]:
for i in range(0,5):
  total_net_migration = float(f[["net_per_10K_2015"]].iloc[i]) + float(f[["net_per_10K_2016"]].iloc[i]) + float(f[["net_per_10K_2017"]].iloc[i]) + float(f[["net_per_10K_2018"]].iloc[i]) + float(f[["net_per_10K_2019"]].iloc[i])
  print(f'The total net migration into {f["country_name"].iloc[i]} of skilled workers for the {f["industry_name"].iloc[i]} industry, during the years 2015-2019 was {round(total_net_migration, 1)}')

The total net migration into United Arab Emirates of skilled workers for the Defense & Space industry, during the years 2015-2019 was 632.9
The total net migration into United Arab Emirates of skilled workers for the Computer Hardware industry, during the years 2015-2019 was 903.9
The total net migration into United Arab Emirates of skilled workers for the Computer Software industry, during the years 2015-2019 was 3340.6
The total net migration into United Arab Emirates of skilled workers for the Computer Networking industry, during the years 2015-2019 was 1437.6
The total net migration into United Arab Emirates of skilled workers for the Internet industry, during the years 2015-2019 was 5458.2